<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="e-commerce.component.css" rel="stylesheet" type="text/css">
<title>Carrito de compras</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">



<body>
    <h1>Tienda en línea 5 Rosas</h1>
    <div class="content overflow-auto">
       
        <div id="contenedor" class="contenedor">

            <div>
                <img src="https://i.pinimg.com/originals/ab/80/9d/ab809d23933790d4b05e4752c5b4444a.jpg"
                    alt="producto 1">
                <div class="informacion">
                    <p>Pin CR</p>
                    <p class="precio">$9<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://i.pinimg.com/236x/71/2f/95/712f95e5ae2b9a5745bcd67f88369d8e--honduras.jpg?nii=t"
                    alt="producto 2">
                <div class="informacion">
                    <p>Periquitos de arcilla</p>
                    <p class="precio">$299<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="http://www.tierramagica-costarica.com/shop/imgbig/keychains/llaveros_keychains.jpg"
                    alt="producto 3">
                <div class="informacion">
                    <p>Llavero</p>
                    <p class="precio">$9<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://i.pinimg.com/originals/6b/f8/26/6bf8268479091739f58c1e9a900fe0db.jpg"
                    alt="producto 4">
                <div class="informacion">
                    <p>Almohadones</p>
                    <p class="precio">$49<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://c2.staticflickr.com/6/5445/8991163981_36c4e8043d_b.jpg" alt="producto 5">
                <div class="informacion">
                    <p>Pinturas</p>
                    <p class="precio">$59<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://i.pinimg.com/originals/0b/1f/6c/0b1f6cfeef00144df19038a9e8b99087.jpg"
                    alt="producto 6">
                <div class="informacion">
                    <p>Bandera</p>
                    <p class="precio">$6<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://i.pinimg.com/originals/a7/a9/34/a7a934a28e85f023e36955d1c18375c8.jpg"
                    alt="producto 7">
                <div class="informacion">
                    <p>Mascara</p>
                    <p class="precio">$79<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="https://costarica.org/wp-content/uploads/2015/01/Sarchi-Cart.jpg" alt="producto 8">
                <div class="informacion">
                    <p>Carretas</p>
                    <p class="precio">$899<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
            <div>
                <img src="http://www.costaricaphotos.com/images/multithumb_thumbs/b_280_360_16777215_00_images_obgrabber_2015-06_c86e407bc2.jpeg"
                    alt="producto 9">
                <div class="informacion">
                    <p>Muñecas de trapo</p>
                    <p class="precio">$9<span>.99</span></p>
                    <button>Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>